.chatContent {
  padding: 2rem 3rem;
  color: var(--white);
  min-height: 100dvh;
}

.chatHeader {
  padding-block: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navToggle {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.1s all;
}

.navToggle:active {
  transform: scale(0.98);
}

.btnCredits {
  padding: 1.2rem 2.4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border: 0.1rem solid currentColor;
  border-radius: 3rem;
  font-size: 1.6rem;
  color: var(--white);
  transition: 0.2s transform;
  cursor: pointer;
  background: linear-gradient(45deg, #515876, #0b0c10);
}

@media (max-width: 680px) {
  .chatContent {
    grid-column: 1 / -1;
  }
}
