.chatContent {
  padding: 2rem 3rem;
  color: var(--white);
  height: 100%;
  overflow-y: auto;
  position: relative;
}

.chatHeader {
  padding-block: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 2rem;
}

.navToggle {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.1s all;
}

.navToggle:active {
  transform: scale(0.98);
}

.btnCredits {
  margin-left: auto;
  padding: 1.2rem 2.4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border: 0.1rem solid currentColor;
  border-radius: 3rem;
  font-size: 1.6rem;
  color: var(--white);
  transition: 0.2s transform;
  cursor: pointer;
  background: linear-gradient(45deg, #515876, #0b0c10);
}

.chatBox {
  max-width: 90rem;
  min-height: 30rem;
  height: auto;
  display: flex;
  flex-direction: column;
  /* border: 1px solid var(--dark-ui); */
  margin: 2rem auto;
}

.chatInterface {
  position: relative;
  width: 100%;

  height: auto;
  padding-block: 5rem 0;
}

.chatMessage {
  margin-block: 2rem;
}

.chatInputMessage {
  background: var(--dark-ui);
  color: var(--cream);
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  max-width: 50rem;
  width: fit-content;
  box-shadow: var(--dark-shadow);
  word-wrap: break-word;
  margin-block: 1rem;
  margin-left: auto;
}

.chatOutputMessage {
  font-size: 1.7rem;
  margin-top: 2rem;
}

.chatErrorMessage {
  font-size: 1.6rem;
  color: var(--cream);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-block: 2rem;
}

@media (max-width: 680px) {
  .chatContent {
    grid-column: 1 / -1;
  }
  .navToggle {
    display: block;
  }
}
