.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 3rem 2rem;
  border: 0.1rem solid var(--cream);
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.infoTitle {
  font-size: 2rem;
  color: var(--white);
  margin-bottom: 2rem;
}

.infoDescription {
  font-size: 1.8rem;
  color: var(--white);
  margin-bottom: 2rem;
  text-align: center;
}
